<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личная страница</title>
    <link rel="stylesheet" href="../styles/home_expert.css">
    {% comment %} <link rel="stylesheet" href="{% static '/styles/home_expert.css'%}"> {% endcomment %}
</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        <div class="photo">
            <pictu >
        </div>
        <div class="update_butt">
        </div>
        <div class="profile_info">
            <p>Индекс Хирша: {{ h_index }}</p>
            <p>Логин: {{ username }}</p>
            <p>Всего оценок: {{ total_marks }}</p>
            <p>Процент согласованных оценок: {{ total_percent }}</p>
            <div class="theme">
                <p>ТЕМАТИКИ!: {{ total_percent }}</p>
            </div>
        </div>
        <div class="marks">
        </div>
    </div>
</body>
</html>
